{% extends "base.html" %}

{% block title %} Main Page {% endblock %}

{% block content %}
<h1>AWS Pricing</h1>
<p>
Total Rows: {{ attrs.total_rows }}
<br>
Total Offer Code: {{ offer_name_count }}
<br>
Total Product Family: {{ product_family_count }}
<br>
Offer type/Product Families: {{ prod_variations }}
<p>

<table>
<tr>
<th/>
{% for oc in offer_names %}
<th>{{ oc.offer_code | cut:"Amazon" }}</th>
{% endfor %}
</tr>

{% for tr in table %}
<tr>
{% for t in tr %}
<td>
{% if t.label == '_Y_' %}
<a href="aws/offer_code={{t.offer}}/product_family={{ t.family }}">
X
</a>
{% elif t.label != '_N_' %}
{{ t.label }}
{% endif %}
</td>
{% endfor %}
</tr>
<tr><th>{{pf.product_family}}</th></tr>
{% endfor %}
</table>
{% endblock %}
