{% comment %}
   offer = <offerCode>
   family = <productFamily>
   instance_type = [ { 'offer' : <offer_code>,
                       'family' : <product_family>,
                       'instance_types' : { <list of distinct (instance types> }
{% endcomment %}

<h1>{{offer_code}} Compute Instance Types</h1>
<p>
<table>
<tr>
<th>Family</th>
<th>Type</th>
<th>vCPU</th>
<th>Memory</th>
<th>Network Performance</th>
<th>Storage</th>
<th>Processor Type</th>
<th>Current Generation</th>
</tr>
{% for i in products %}
<tr>
<td>
{% ifchanged i.instance_family %}
{{ i.instance_family }}
{% endifchanged %}
</td>
<td>
<a href="/pricing/aws/offer_code={{offer_code}}/product_family={{product_family}}/compute_instance={{ i.instance_type }}">
{{ i.instance_type }}
</a>
</td>
<td>
{{ i.vcpu }}
</td>
<td>
{{ i.memory }} GiB
</td>
<td>
{{ i.network_performance }}
</td>
<td>
{{ i.storage }}
</td>
<td>
{{ i.physical_processor }}
</td>
<td>
{{ i.current_generation }}
</td>
</tr>
{% endfor %}
</table>
