{% extends "base.html" %}

{% block content %}

{% comment %}
Template for details of a Compute Instance Type
{% endcomment %}

<h1>Offer Code: {{offer_code}}<h1>
<h2>Product Family: {{product_family}}</h2>
<h2>Instance Type: {{instance_type}}</h2>
<p>
<table>
{% for s in summary %}
{% ifchanged %}
<tr> <td>Family</td> <td>{{s.instance_family}}</td> </tr>
<tr> <td>Current Generation</td> <td>{{s.current_generation}}</td> </tr>
<tr> <td>Physical Processor</td> <td>{{s.physical_processor}}</td> </tr>
<tr> <td>Clock Speed</td> <td>{{s.clock_speed}}</td> </tr>
<tr> <td>vCPU</td> <td>{{s.vcpu}}</td> </tr>
<tr> <td>Memory</td> <td>{{s.memory}}</td> </tr>
<tr> <td>Storage</td> <td>{{s.storage}}</td> </tr>
<tr> <td>Dedicated EBS Throughput</td> <td>{{s.dedicated_ebs_throughput}}</td> </tr>
{% endifchanged %}
{% endfor %}
</table>

<h3>Search Parameters</h3>

<p>
<form action="{{path}}" method="post">
    {% csrf_token %}
    {{ forms }}
    <input type="submit" value="Submit" />
</form>

<p>
Total Entries: {{pcount}}
<p>

<table>
{% for p in products %}
<tr>
<td>
{% ifchanged p.location %}
{{ p.location }}
{% endifchanged %}
</td>
<td>
{{p.term_type}}
</td>
<td>
{{p.operating_system}}
</td>
<td>
{{p.pre_installed_sw}}
</td>
<td>
{{p.license_model}}
</td>
<td>
{{p.tenancy}}
</td>
<td>
{{p.price_per_unit}}
</td>
<td>
{{p.unit}}
</td>
<td>
{{p.lease_contract_length}}
</td>
<td>
{{p.purchase_option}}
</td>
<td>
{{p.description}}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
