{% extends "base.html" %}

{% block title %}AWS Main Page {% endblock %}

{% block content %}
<p>
Total Rows: {{ attrs.total_rows }}
<br>
Total Offer Code: {{ offer_name_count }}
<br>
Total Product Family: {{ product_family_count }}
<br>
Offer type/Product Families: {{ prod_variations }}
<p>

<div class="w3-responsive w3-card-4">
<table class="w3-table w3-bordered w3-small">
<thead>
<tr class="w3-theme">
<th/>
{% for oc in offer_names %}
<th style="text-align:right">{{ oc.offer_code }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for tr in table %}
<tr>
{% for t in tr %}
<td style="text-align:right">
{% if t.label == '_Y_' %}
<a href="aws/offer_code={{t.offer}}/product_family={{ t.family }}">
{{ t.count }}
</a>
{% elif t.label != '_N_' %}
{{ t.label }}
{% endif %}
</td>
{% endfor %}
</tr>
<tr><th>{{pf.product_family}}</th></tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
