  <div class="panel-group">
    <div class="panel panel-default">
{% if item.items %}
      <div class="panel-heading>
        <h5 class="panel-title">
          <a data-toggle="collapse" href="#collapse{{collapse_label|slugify}}">
            {{item.label}}
          </a>
        <h5>
      </div>
    
      <div id="collapse{{collapse_label|slugify}}"
       {% if item.expanded %}
         class="panel-collapse collapse in">
       {% else %}
         class="panel-collapse collapse">
       {% endif %}
      
        <ul class="list-group">
        {% for i in item.items %}
          <li class="list-group-item">
            {% if i.items %}
              {% with item=i template_name="collapse_tree.html" %}
                {% with collapse_label=collapse_label|add:i.label %}
                  {% include template_name %}
                {% endwith %}
              {% endwith %}
            {% else %}
              {% if i.url %}
                <a href="{{ i.url }}">
                  {{i.label}}
                </a>
              {% else %}
                {{i.label}}
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
{% else %}
  {% if item.url %}
    <a href="{{ item.url }}">
      {{item.label}}
    </a>
  {% else %}
    {{ item.label }}
  {% endif %}
{% endif %}
    </div>
  </div>
