{% extends "base.html" %}

{% block content %}

<h1>
GCP (Google Cloud Platform) Pricing
</h1>
<p>
Total Rows: {{total_rows}}
<br>
Total Types: {{total_types}}
<br>
Total Subtypes: {{total_subtypes}}
<p>
Product Types:
<table>
<tr>
{% for p in product %}
{% ifchanged p.ptype %}
</tr>
<tr>
{% endifchanged %}
<td>
{% ifchanged p.ptype %}
{{ p.ptype }}
{% endifchanged %}
</td>
<td>
<a href="gcp/ptype={{p.ptype}}/psubtype={{ p.psubtype }}">
{{p.psubtype}}
<a>
</td>
{% endfor %}
</tr>
</table>

{% endblock %}
